<button (click) = "changeExpandMode()"> {{getSignOnButton()}}</button>
<input readonly entityClick [logicFolder]="logicFolder" [value]="logicFolder.name"><br><br>
<div *ngIf = "logicFolder.children && expanded">
  <div *ngFor="let child of logicFolder.children">
    <file *ngIf="child.getType()=='file'" [logicFile] = "child"></file>
    <folder *ngIf="child.getType()=='folder'" [logicFolder] = "child"></folder>
  </div>
</div>
