folder, file {
  position: relative;
  left: 2em;
  color: black; }
  folder span, file span {
    font-size: 150%; }
  folder input, file input {
    border: none;
    font-size: 150%; }

/*# sourceMappingURL=TreeEntity.styles.css.map */
