#tree, content {
  border: solid black;
  width: 45%;
  height: 80%;
  display: inline-block;
  overflow-y: auto; }

right-click {
  display: block;
  position: absolute; }

/*# sourceMappingURL=app.component.css.map */
