<div id = "tree">
  <folder [logicFolder] = "rightClickService.root"> </folder>
</div>
<content></content>
<right-click [style.top] = "rightClickService.mainService.topContextMenu"
             [style.left] = "rightClickService.mainService.leftContextMenu">
</right-click>
