<div id="header-content">
	<button (click)="mainService.goBack()"> < </button>
	<input #input type="text" [value]="mainService.curPath" (blur)="mainService.renamePath(input)">
	<button (click)="mainService.goForward()"> > </button>
</div>

<div id = "folder-content" *ngIf = "mainService.curEntity.getType() == 'folder'">
  <div *ngFor = "let item of mainService.curEntity.children" >
    <content-file [logicFile] = "item"  *ngIf = "item.getType() == 'file'" entityClick >
    </content-file>

    <content-folder [logicFolder] = "item" *ngIf = "item.getType() == 'folder'" entityClick>
    </content-folder>
  </div>

</div>

<div id = "file-content" *ngIf = "mainService.curEntity.getType() == 'file'">
  <textarea [(ngModel)] = "mainService.curEntity.content"> </textarea>
</div>


