#header-content {
  display: flex;
  min-height: 20px;
  height: 10%;
  width: 100%;

  button {
    font-size: 150%;
    height: auto;
    background-color: #ced6dd;
  }
  input {
    border: solid;
    font-size: 130%;
    height: auto;
    width: 100%;
  }
}

#folder-content, #file-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 90%;

  div {
    display: flex;
    width: 15%;
    height: 10%;
    margin: 5% 5% 5% 5%;
    font-size: 120%;

    content-file, content-folder {
      display: flex;
      width: auto;
      height: 100%;
    }
    content-file {
      background-color: #3dc36d
    }
    content-folder {
      background-color: #4745ff
    }
  }
}

#file-content > textarea {
  width: 100%;
  height: 100%;
}
