#header-content {
  display: flex;
  min-height: 20px;
  height: 10%;
  width: 100%; }
  #header-content button {
    font-size: 150%;
    height: auto;
    background-color: #ced6dd; }
  #header-content input {
    border: solid;
    font-size: 130%;
    height: auto;
    width: 100%; }

#folder-content, #file-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 90%; }
  #folder-content div, #file-content div {
    display: flex;
    width: 15%;
    height: 10%;
    margin: 5% 5% 5% 5%;
    font-size: 120%; }
    #folder-content div content-file, #folder-content div content-folder, #file-content div content-file, #file-content div content-folder {
      display: flex;
      width: auto;
      height: 100%; }
    #folder-content div content-file, #file-content div content-file {
      background-color: #3dc36d; }
    #folder-content div content-folder, #file-content div content-folder {
      background-color: #4745ff; }

#file-content > textarea {
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=content.styles.css.map */
