context-menu {
  display: block;
}
menu {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
  width: 150px;
  padding: 0px;
  margin: 0px;
  display: block;
  .error {
    color: red;
  }
}

menu[data-menu-name = "renameMenu"] {
  width: 200px;
  padding: 10px 10px 10px 10px
}

menu > menuitem {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
    font-size: 1em;
}

menu > menuitem:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}
